@{
    ViewBag.Title = "About Digital Store";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We created Digital Store Marketplace to offer you a huge assortment of Mobiles, Tablets, Laptops and Desktops, more than just Digital Store products. Our Marketplace is like a virtual shopping mall that allows top-rated sellers to offer their products through digitalstorepm.azurewebsites.net</p><br />

<h3>Shipping</h3>

<ol>
    <li><b> Digital Store Standards </b></li>
    <p>When you’re shopping Marketplace products we don’t want it to feel far off from our Digital Store experience - that’s why all of our sellers are held to our high standards of shipping.</p>

    <li><b>Fast Shipping</b></li>
    <p>Most orders are shipped from the seller within 2-4 days but every seller has their own policy that may have exceptions based on location. See the seller’s policy on the product page for full details.</p>

    <li><b>Free Shipping Options</b></li>
    <p>Many of our sellers have free shipping options, and only charge shipping on larger items that require special delivery. See the seller’s policy on the product page for full details.</p>
    <br />
</ol>

<h3>Return Process</h3>

<ol>
    <li><b>Check Seller Policy</b></li>
    <p>Find the seller’s return policy on the product page and make sure the item can be returned and check if they charge re-stocking fees. </p>

    <li><b>Contact Seller</b></li>
    <p>To initiate a return, contact the seller through order status</p>

    <li><b>Ship Package</b></li>
    <p>Print and attach the return merchandise authorization (RMA) from the seller and ship package.</p>

    <li><b>Receive Refund</b></li>
    <p>You should see the refund within 5-7 business days of the package being received back by the seller</p>
</ol>